*/.idea/
*/.vscode/
*/.vs/
*/.dub/
*/bin/
*/out/

.dub/
docs.json
__dummy.html
docs/
/tdmextractor
tdmextractor.so
tdmextractor.dylib
tdmextractor.dll
tdmextractor.a
tdmextractor.lib
tdmextractor-test-*
*.exe
*.o
*.obj
*.lst
